body {
    text-align: center;
}

#tim {
    width: 175px;
    border-radius: 50%;
    margin-top: 200px;

}

#welcome {
    width: 100%;
    height: 650px;
    background: linear-gradient(#86b3fc 50%, #1c51ff 100%);
    color: white;
    font-family: fantasy;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: auto;
}

p {
    font-family: fantasy;
    font-size: 20px;
}

h1 {
    font-family: fantasy;
    font-size: 40px;
}

.options {
    list-style: none;
    font-family: 'Syne Tactile', cursive;
    top: 10px;
    right: 30px;
    cursor: pointer;
    position: absolute;
    
}
.menu{
    float: left;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 9px;
    padding-bottom: 5px;
    padding-right: 9px;
    color: white;
}
.menu:hover{
    background-color:cornflowerblue;
}

